.tweet-container {
  diplay: flex;
  flex-flow: row;
}

.tweet-container:hover {
  box-shadow: 5px 5px green; 
}

.tweet-article {
  display: flex;
  flex-flow: column;
  border: 5px solid #666;
  padding: 1em;
  margin: 1em;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet-header span.feed-username {
  color: blue;
  opacity: 0.3;
}
.tweet-footer {
  display: flex;
  justify-content: space-between;
}

.tweet-footer span {
  justify-self: flex-start;
}

.tweet-footer i:hover {
  color: yellow;
}

.tweet-container p {
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid #666;
}